#content {
  margin-top: 48px;
  margin-bottom: 50px;
}

/*原生弹幕*/
.abp {
  position: relative;
}

.loading-content {
  height: 400px;
  padding-top: 100px;
}

.abp .container {
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  position: absolute;
  display: block;
  overflow: hidden;
  margin: 0;
  border: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.abp .container .cmt {
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  position: absolute;
  padding: 3px 0 0 0;
  margin: 0;
  color: #fff;
  font-family: SimHei, SimSun, Heiti, "MS Mincho", "Meiryo", "Microsoft YaHei", monospace;
  font-size: 25px;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  line-height: 100%;
  letter-spacing: 0;
  word-break: keep-all;
  white-space: pre;

}

.abp .container .cmt.noshadow {
  text-shadow: none;
}

.abp .container .cmt.rshadow {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/** Aliases for Chinese named fonts because they don't work on *nix **/
@font-face {
  font-family: "\9ED1\4F53";
  src: local('SimHei');
}

@font-face {
  font-family: "\5B8B\4F53";
  src: local('SimSun');
}

@font-face {
  font-family: "\534E\6587\6977\4F53";
  src: local('SimKai');
}

@font-face {
  font-family: "\5E7C\5706";
  src: local('YouYuan');
}

@font-face {
  font-family: "\5FAE\8F6F\96C5\9ED1";
  src: local('Microsoft YaHei');
}

/*弹幕相关*/
.video-js .vjs-danmu {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.video-js .vjs-danmu .cmt {
  white-space: nowrap;
  padding: 3px 0 0 0;
  margin: 0;
  line-height: 100%;
  font-family: Simhei, Simsun, Heiti, "wqy-zenhei", "MS Mincho", "Meiryo", "Microsoft Yahei", monospace;
  font-weight: 400;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #fff;
  letter-spacing: 0;
  font-size: 25px;
  position: absolute;
  word-break: keep-all;
  text-wrap: none;
  border: 0 !important;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.video-js .vjs-danmu .cmt.noshadow {
  text-shadow: none !important;
}

.video-js .vjs-danmu .cmt.rshadow {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
}

.vjs-default-skin .vjs-danmu-control {
  width: 3.5em;
  cursor: pointer;
  float: right;
  font-size: 10px;
  text-align: right;
}

.vjs-danmu {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.video-js .vjs-danmu .cmt {
  white-space: nowrap;
  padding: 3px 0 0 0;
  margin: 0;
  line-height: 100%;
  font-family: Simhei, Simsun, Heiti, "wqy-zenhei", "MS Mincho", "Meiryo", "Microsoft Yahei", monospace;
  font-weight: 500;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #fff;
  letter-spacing: 0;
  font-size: 25px;
  position: absolute;
  word-break: keep-all;
  text-wrap: none;
  border: 0 !important;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.video-js .vjs-danmu .cmt.noshadow {
  text-shadow: none !important;
}

.video-js .vjs-danmu .cmt.rshadow {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
}

.vjs-default-skin .vjs-danmu-control {
  width: 3.8em;
  cursor: pointer;
  float: right;
  font-size: 16px;
  text-align: right;
  padding: 8px 10px;
}
